body { /* 整个页面的显示格式 */
    background-color: #fdf1d5;
    padding-left: 20px;
    padding-right: 20px;
}

h1 { /* 标题的显示格式 */
    color: orange;
    text-align: center;
    font-size:30px;
    font-family: "STHeitiSC-Medium"
}

h2 { /* 作者信息的显示格式 */
	color: orange;
	text-align: end;
	font-size:20px;
	font-family: "STHeitiSC-Medium";
	line-height: 150%;
	padding-bottom: 40px;
	}

h3 { /* 小标题显示格式 */
	color: black;
    text-align: center;
    font-size:24px;
    font-family: "STHeitiSC-Medium";
    line-height: 80%
}

h4 { /* 小小标题显示格式 */
	color: black;
    text-align: left;
    font-size:22px;
    font-family: "STHeitiSC-Medium";
    line-height: 80%
}

p { /* 正文的显示格式 */
    font-family: "STHeitiSC-Light";
    color: #5e3f27;
    font-size: 20px;
    line-height: 150%;
    padding-top: 0px;
    padding-bottom: 0px;
}
mmm {
	
}
